* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  
body {
    background-color: rgb(54, 54, 54);
    color: azure;
}

.logo {
    display: flex;
    padding-left: 50px;
}

.logo img {
    margin-top: 25px;
    width: 20%;
    display: flex;
}

.search-section {
    width:90%;
    background-color: rgb(87, 87, 87);
    margin:1%;
    padding:1%;
}

.search-section input {
    width:90%;
    margin-left: 5%;
    padding-left: 1%;
}

.search-section button {
    width:90%;
    margin-left: 5%;
    padding-left: 1%;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 2%;
    /* padding-top: 50px; */
   background-color: rgb(44, 44, 44); 
    width: 20%;
    margin:5%;
    margin-top: 1%;
    margin-left: 1%;
    height: 13vh;
}

main {
    display: flex;
    text-align: center;
}

/* #location {
    background-color: rgb(44, 44, 44);
    
} */

section {
    display: flex;
    width:48%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-location {
    display: flex;
    font-size: small;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.weather-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info {
    padding:10px;
}

.description::first-letter {
    text-transform: capitalize;
}

#player-section {
    display: flex;
    margin-top: 7%;
    justify-content: center;
    padding-bottom: 75px;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-bottom: 15px;
}

footer {
    background-color: rgb(44, 44, 44);
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

#contact {
    display: flex;
    justify-content:center;
    
}

h2 {
    justify-content: center;
    
    padding-bottom: 20px;
    align-content: center;
}